* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#s1 {
    font-weight: 600;
    text-decoration: underline;
}

#s2 {
    font-style: italic;
}

#p1 {
    font-size: 20px;
    text-align: center;
}

#s3 {
    text-decoration: underline wavy hotpink;
}
