* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

div{
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    border: dotted #ab2f6d;
    border-radius: 20px;
    border-width: 5px;
    padding-top: 48px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 48px;
    background-color: #e8b8bf;
    text-align: center;
    font-family: cursive;
}

body {
    background-color: #2c0217;
}