/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    background-color: black;
    color: hotpink;
    width: 200px;
    height: 200px;
    margin: 24px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    box-shadow: 6px 6px 12px black;
}

