* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#p1 {
    color: lightgreen;
}

.shadowed {
    background-color: hotpink;
    margin: 24px;
    padding: 24px;
    /* x-offset, y-offset, blur-radius, color */
    box-shadow: 
        inset 4px 4px 4px darkcyan,
        4px 4px 4px purple;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
}