 {
    @import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.chocolate {
    background-color: red;
    padding: 48px 0px;
}

.strawberry {
    background-color: #f17da8;
    padding: 48px 0px;
}

.matcha {
    background-color: #5e834e;
    padding: 48px 0px;
}

h3, h2 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700px;
    text-align: center;
    padding: 12px;
}

.column {
    margin: 24px auto;
    max-width: 500px;
    text-align: center;
}

p {
    text-align: center;
}

.button {
    text-decoration: none;
    color: black;
    background-color: white;
    display: inline-block;
    padding: 12px;
    border-radius: 18px;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
