* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 100%;
}

.recipe-intro {
    display: flex;
    align-items: center;
    gap: 36px;
}

.recipe-intro .left-side {
    flex: 1;
}

.recipe-intro .right-side {
    flex: 1;
}

.three-cards {
     display: flex;
    gap: 20px;
}

.card {
    padding: 36px;
    text-align: center;
    margin: 36px;
    flex: 1;
}

.card img {
    object-fit: cover;
}