* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#music {
    display: inline-block;
    margin: 40px;
}

.featured-album {
    border-radius: 20px;
    width: 150px;
    margin: 20px;
    vertical-align: top;
}

.featured {
    background-color: #fb4f80;
    color: white;
    font-size: 25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 5px;
}

.details {
    display: inline-block;
    margin: 5px;
    vertical-align: top;

}

.albums {
    background-color: #b9456f;
    padding: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

}

img {
    border-radius: 20px;
}