* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: #26081c;
}

.color-palette {
    text-align: center;
    margin: 24px;
    padding: 24px;
    box-shadow: 6px 6px 12px #989898;
    background-color: #e2e2e2;
}

.color {
    margin: 0px;
    padding: 24px;
}

#grape {
    background-color: #694873;
    color: white;
}

#mauve {
    background-color: #8b728e;
    color: white;
}

#teal {
    background-color: #85b79d;
    color: white;
}

#pink {
    background-color: #ef476f;
}
#pollen {
    background-color: #ffd166;
}

#emerald {
    background-color: #06d6a0;
}

#blue {
    background-color: #7c99b4;
    color: white;
}

#grey {
    background-color: #6b7f82;
    color: white;
}

#brown {
    background-color: #5b5750;
    color: white;
}

#meadow {
    font-family: cursive;
}

#bubble-pop {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#stone-ocean {
    font-family: 'Times New Roman', Times, serif;
}

